# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase credentials
# Ignore the secret Firebase key
serviceAccountKey.json
# Ignore Firebase service account keys
serviceAccountKey_firebase.json

# Local data
brands.json

# Misc
*.log

#Gemini API Key
.env